//colores
//Link de la paleta https://coolors.co/131515-2b2c28-339989-7de2d1-fffafb
$black: #131515;
$softBlack: #1e1f1c;
$darkTurquoise: #339989;
$turquoise: #7de2d1;
$white: #fffafb;

$grey: #949494;
